@import "~taro-ui/dist/style/components/icon.scss";


.at-icon-download-cloud{
  font-size: 40px;
  color: #FFFFFF;
  transform: rotate(180deg);
  cursor: pointer;
  background-color: #66c5ff;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  line-height: 60px;
  text-align: center;
}
