.calendar-page {
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;

  .calendar-item {
    padding-bottom: 16px;
    width: 341px;
    height: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;

    .calendar-image {
      width: 341px;
      height: 341px;
    }

    .calendar-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 341px;
      height: 90px;
      background-color: #c4c4c4;
      color: #333;
      font-size: 28px;
    }
  }


}
